# Audio: ALSA, HDMI audio, HDA codecs
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_TIMER=y
CONFIG_SND_PCM=y
CONFIG_SND_DYNAMIC_MINORS=y
CONFIG_SND_HDA_INTEL=y
CONFIG_SND_HDA_CODEC_HDMI=y
CONFIG_SND_HDA_GENERIC=y
CONFIG_SND_HDA_POWER_SAVE_DEFAULT=1
CONFIG_SND_USB=y
CONFIG_SND_USB_AUDIO=y
CONFIG_SND_SOC=y
CONFIG_SND_SOC_INTEL_AVS=y
CONFIG_SND_SOC_HDMI_CODEC=y
# Input: evdev, libinput, IR, gamepad, HID
CONFIG_INPUT=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_JOYDEV=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_JOYSTICK_XPAD=y
CONFIG_JOYSTICK_XPAD_FF=y
CONFIG_JOYSTICK_XPAD_LEDS=y
CONFIG_INPUT_MISC=y
CONFIG_INPUT_UINPUT=y
CONFIG_HID=y
CONFIG_HID_GENERIC=y
CONFIG_HIDRAW=y
CONFIG_USB_HID=y
CONFIG_USB_HIDDEV=y
CONFIG_USB_ACM=y
CONFIG_USB_PRINTER=n
CONFIG_USB_WDM=y
CONFIG_USB_STORAGE=y
CONFIG_USB_SUPPORT=y
CONFIG_USB=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
CONFIG_BT_HIDP=y
# IR remote: mceusb, lirc (gpio-ir requires OF+GPIOLIB, not on x86-64)
CONFIG_RC_DECODERS=y
CONFIG_RC_DEVICES=y
CONFIG_RC_MAP=y
CONFIG_RC_CORE=y
CONFIG_IR_MCEUSB=y
CONFIG_IR_LIRC_CODEC=y
